* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #010F1C;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    color: #55585B;
    margin-bottom: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #55585B;
    transition: all .3s ease-in-out;
}

img{
    max-width: 100%;
}

/* header.css */

.imperial-header-top {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 6px;
    padding-top: 3px;
}

.imperial-header-info p {
    margin-bottom: 0;
    font-weight: 500;
}

.imperial-header-info p span {
    margin-inline-end: 4px;
}

.imperial-header-info p span svg {
    width: 16px;
    transform: translateY(5px);
}

.imperial-header-main {
    padding: 20px 0;
}

.imperial-header-menu a {
    margin-right: 20px;
    color: #55585B;
    font-weight: 500;
}

.imperial-header-menu a:last-child {
    margin-right: 0;
}

.imperial-header-menu a:hover {
    color: #D9A11A;
}


.tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
    position: relative;
}

@media (max-width: 575px) {
    .tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .tp-feature-inner-2 {
        padding: 22px 20px 19px;
    }
}

.tp-feature-inner-2 {
    background: var(--tp-common-white);
    border: 1px solid #E9EAEC;
    padding: 30px 40px 23px;
}

.tp-feature-title-2 {
    font-weight: 600;
    font-size: 14px;
    color: #010F1C;
    margin-bottom: 2px;
    line-height: 1;
}

.tp-feature-icon-2 span {
    font-size: 35px;
    color: #010F1C;
}

.tp-feature-content-2 p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.3;
}

.mr-10 {
    margin-right: 10px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .tp-feature-item-2 {
        margin-bottom: 30px;
    }

    .tp-feature-inner-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2,
    .tp-feature-inner-2 .row [class*=col-]:nth-child(4) .tp-feature-item-2 {
        margin-bottom: 0;
    }
}

.imperial-product-slider-thumb {
    margin-top: 5px;
}

.imperial-product-slider-thumb-item {
    margin-right: 10px;
}

.imperial-product-area {
    padding-top: 40px;
}

.imperial-product-content {
    padding-left: 40px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .imperial-product-content {
        padding-left: 0;
        margin-top: 40px;
    }
}

.imperial-product-title {
    font-size: 28px;
    font-weight: 600;
    color: #010F1C;
    margin-bottom: 40px;
}

.imperial-callout {
    background: #F0F0F0;
    padding: 20px 40px;
    border-radius: 5px;
    color: #010F1C;
    font-weight: 500;
}

.imperial-trusted-seller {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.imperial-trusted-seller p {
    margin-bottom: 15px;
}

.imperial-trusted-seller p span {
    color: #010F1C;
    margin-left: 8px;
    font-weight: 600;
}

.imperial-trusted-seller p svg {
    color: #FFC40D;
}

.imperial-trusted-seller .view-feedback {
    font-size: 12px;
    text-decoration: underline;
}

.imperial-trusted-seller .view-feedback:hover {
    color: #D9A11A;
}

.imperial-btn {
    background: #D9A11A;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-block;
}

.imperial-btn:hover {
    background: #010F1C;
    color: #fff;
}

.imperial-btn-gray {
    background: #F6F6F6;
    color: #010F1C;
}

.mb-15 {
    margin-bottom: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mb-40{
    margin-bottom: 40px;

}

.imperial-product-content-btn-wrapper p{
    font-size: 20px;
    font-weight: 600;
    color: #010F1C;
}

.imperial-product-desc-title{
    font-size: 16px;
    font-weight: 600;
    color: #010F1C;
    padding: 15px 30px;
    padding-left: 24px;
    background-color: rgb(217, 161, 26, .2);
    border-left: 4px solid #D9A11A;
}

.imperial-product-desc-content{
    padding: 20px 30px;
}
.imperial-product-desc-box p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.text-center{
    text-align: center;
}

.imperial-product-desc-category-item{
    margin-bottom: 15px;
}
.imperial-product-desc-category-thumb{
    margin-bottom: 10px;
}

.imperial-product-desc-category-title{
    font-size: 14px;
    color: #010F1C;
}

.imperial-product-desc-category-title a:hover{
   color: #D9A11A;
}

.imperial-product-desc-category-heading{
    font-size: 24px;
    margin-bottom: 20px;
}

.imperial-product-feedback-content{
    border: 1px solid #E5E5E5;
    padding: 10px 30px;
}
.imperial-product-feeback-item h4{
    margin-bottom: 0;
}
.imperial-product-feeback-item p{
    font-size: 15px;
    font-weight: 500;
}

.imperial-product-feeback-item{
    margin-bottom: 25px;
}

.pb-40 {
    padding-bottom: 40px;
}

.imperial-footer-top-box{
    border-bottom: 1px solid #E5E5E5;
}

.imperial-footer-bottom{
    padding: 20px 0;
}

.imperial-footer-payment{
    text-align: end;
}



@media only screen and (min-width: 0px) and (max-width: 767px) {
    .imperial-footer-security{
        text-align: end;
    }

    .imperial-footer-payment{
        text-align: center;
        margin-top: 20px;
    }
}



@media only screen and (min-width: 0px) and (max-width: 575px) {
    .imperial-header-menu-wrapper{
        margin-top: 15px;
    }
}

/* thumbnail code */

.cl-gallery-el-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 20px;
    box-sizing: border-box;
  }
  .cl-gallery-el-wrapper input {
    display: none;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-thumbnails {
    display: block;
    width: 40px;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    visibility: hidden;
    top: 0px;
    box-sizing: border-box;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper:hover .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper:hover .cl-gallery-el-nav-arrow-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-thumbnails:hover .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-thumbnails:hover .cl-gallery-el-nav-arrow-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper:hover .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper:hover .cl-gallery-el-nav-arrow-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-thumbnails:hover .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-thumbnails:hover .cl-gallery-el-nav-arrow-thumbnails {
    opacity: 1;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails {
    z-index: 3;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-thumbnails {
    position: absolute;
    top: 50%;
    width: 1rem;
    height: 1rem;
    border: 3px solid #888;
    opacity: 0.5;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    transition: 200ms ease-in-out opacity;
    cursor: pointer;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow {
    opacity: 0;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-next, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-next-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-next, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-next-thumbnails {
    border-left: none;
    right: 1rem;
    border-bottom: none;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-prev, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-prev-thumbnails, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-prev, .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-prev-thumbnails {
    border-top: none;
    left: 1rem;
    border-right: none;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-thumbnails {
    position: absolute;
    width: 20px;
    top: auto;
    bottom: 20px;
    height: 75px;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails {
    right: 25px;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails {
    left: 25px;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-thumbnails {
    width: 0.5rem;
    height: 0.5rem;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-next-thumbnails {
    right: 0.5rem;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-prev-thumbnails {
    left: 0.5rem;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-content:hover ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper .cl-gallery-el-nav-arrow {
    opacity: 0.5;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: 300ms ease-in-out opacity;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slide span {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    display: block;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-slider-nav {
    position: absolute;
    bottom: 1rem;
    left: 0;
    width: 100%;
    z-index: 5;
    text-align: center;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-nav-button {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 0.6rem;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  .cl-gallery-el-wrapper .cl-gallery-el-nav-button:hover {
    background: #eee;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-thumbnail-row {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    opacity: 0;
    transition: 200ms ease-in-out opacity;
    width: 100%;
    left: 0;
    bottom: 20px;
    text-align: center;
    height: 75px;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-thumbnail-row label {
    display: inline-block;
    text-align: center;
    width: 100px;
    overflow: hidden;
    height: 75px;
    box-sizing: border-box;
    margin-left: 10px;
    cursor: pointer;
    opacity: 0.8;
    background-color: #fff;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-thumbnail-row label:first-child {
    margin-left: 0;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-thumbnail-row label:hover {
    opacity: 1;
  }
  .cl-gallery-el-wrapper .cl-gallery-el-thumbnail-row label span {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    display: inline-block;
  }
  
  .cl-tabs-el-wrapper {
    position: relative;
  }
  .cl-tabs-el-wrapper input {
    display: none;
  }
  .cl-tabs-el-wrapper .cl-tabs-el-label {
    position: relative;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
  }
  .cl-tabs-el-wrapper .cl-tabs-el-label[for*="1"] {
    border: 0;
  }
  .cl-tabs-el-wrapper .cl-tabs-el-content {
    height: 0;
    overflow: hidden;
  }
  
  .cl-htabs-el-content-container {
    position: relative;
    flex-grow: 1;
  }
  
  .cl-htabs-el-wrapper {
    position: relative;
  }
  .cl-htabs-el-wrapper input {
    display: none;
  }
  .cl-htabs-el-wrapper .cl-htabs-el-label {
    position: relative;
    display: inline-table;
    color: #222222;
    padding: 5px 8px;
    background: #f7f7f7;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    z-index: 4;
    box-sizing: border-box;
  }
  .cl-htabs-el-wrapper .cl-htabs-el-hidden {
    opacity: 0;
  }
  .cl-htabs-el-wrapper .cl-htabs-el-content {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
    left: 0;
    top: 0;
    position: absolute;
    flex-grow: 1;
    overflow-y: auto;
    max-height: 100%;
    width: 100%;
  }
  .cl-htabs-el-wrapper .cl-htabs-el-content .cl-htabs-el-content-child {
    overflow: hidden;
    flex-grow: 1;
    position: relative;
  }
  
  .cl-rich-text-el ul {
    list-style: inside;
  }
  .cl-rich-text-el ol {
    list-style: decimal inside;
  }
  .cl-rich-text-el tr td {
    border: 1px solid black;
  }
  .cl-rich-text-el table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .cross-sell-gallery-image-wrapper {
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    position: absolute;
    display: none;
    transition: all 450ms ease-in-out, opacity 250ms ease-in-out, box-shadow 200ms ease-in-out;
  }
  
  .mobile-cross-sell-gallery-wrapper .cross-sell-gallery-image-wrapper {
    transition: all 400ms ease-in-out;
  }
  
  .cross-sell-gallery-input {
    display: none;
  }
  
  .cross-sell-gallery-item-description p, .mobile-cross-sell-gallery-item-description p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  
  .cross-sell-gallery-image-wrapper > .cross-sell-gallery-image {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(87%, transparent), to(rgba(250, 250, 250, 0.3)));
  }
  
  .cross-sell-gallery-item-description {
    opacity: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
    padding-top: 12px;
    transition: opacity 250ms ease-in;
  }
  
  .mobile-cross-sell-gallery-item-description {
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
  }
  
  .cross-sell-gallery-arrow-wrapper {
    width: 50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    opacity: 0.5;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    display: none;
  }
  
  .cross-sell-gallery-arrow-wrapper:hover {
    opacity: 1;
  }
  
  .cross-sell-gallery-left-arrow-wrapper {
    left: 0;
  }
  
  .cross-sell-gallery-right-arrow-wrapper {
    right: 0;
  }
  
  .cross-sell-gallery-arrow {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
  }
  
  .desktop-cross-sell-gallery-wrapper .cross-sell-gallery-arrow {
    width: 50px;
    height: 50px;
  }
  
  .mobile-cross-sell-gallery-wrapper .cross-sell-gallery-arrow-wrapper {
    width: 50%;
    height: 100%;
    opacity: 1;
  }
  
  .mobile-cross-sell-gallery-wrapper .cross-sell-gallery-arrow {
    width: 30%;
  }
  
  .mobile-cross-sell-gallery-wrapper .cross-sell-gallery-left-arrow {
    left: 0;
  }
  
  .mobile-cross-sell-gallery-wrapper .cross-sell-gallery-right-arrow {
    right: 0;
  }
  
  #cross-sell-gallery-price-placeholder:after {
    content: "Price";
  }
  
  #cross-sell-gallery-name-placeholder:after {
    content: "Name";
  }
  
  #cross-sell-gallery-ends-in-placeholder:after {
    content: "Ends in";
  }
  
  .fadeInOnCssLoaded {
    opacity: 1 !important;
    transition: opacity 250ms ease-in-out;
  }
  
  .fadeInOnCssLoadedDelayed {
    opacity: 1 !important;
    transition: opacity 250ms ease-in-out 450ms;
  }
  
  .video-container .red-play-button {
    opacity: 0;
    transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1);
  }
  .video-container:hover .red-play-button {
    opacity: 1;
  }
  
  #mobile-renderer td, #mobile-renderer tr, #desktop-renderer td, #desktop-renderer tr {
    border: 1px solid black;
    border-collapse: collapse;
  }
  

#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide1-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide2-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow0-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide2-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide2-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide3-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow0-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide2-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide2-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide3-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide3-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide2-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow0-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide3-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide3-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide4-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide3-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow0-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide4-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide5-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide6-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow1-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide5-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide6-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide6-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide7-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide5-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow1-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide6-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide6-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide7-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide7-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide8-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide6-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow1-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide7-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide7-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide8-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide8-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide7-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow1-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide4-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide8-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide8-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content .cl-gallery-el-slide9-elementk9sfk_11 {
    opacity: 1;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-nav .cl-gallery-el-nav-button[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    background: #bbb;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slide8-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnailRow2-elementk9sfk_11 {
    visibility: visible;
    opacity: 1;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-slide8-elementk9sfk_11"] {
    visibility: visible;
}
#cl-gallery-el-slide9-elementk9sfk_11:checked ~ .cl-gallery-el-slider-content-thumbnails .cl-gallery-el-thumbnail-row .cl-gallery-el-thumbnail[for="cl-gallery-el-slide9-elementk9sfk_11"] {
    outline: 1px solid #ffffff;
    border: 1px solid #000000;
    opacity: 1;
}
#elementk9sfk_11 .cl-gallery-el-nav-arrow-wrapper {
    height: calc(100% - 95px);
    padding-top: 20px;
    padding-bottom: 20px;
}
#elementk9sfk_11 .cl-gallery-el-nav-arrow-wrapper-next, .cl-gallery-el-nav-arrow-wrapper-next-thumbnails {
    right: 20px;
}
#elementk9sfk_11 .cl-gallery-el-nav-arrow-wrapper-prev, .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails {
    left: 20px;
}
#cl-gallery-el-slideCL_IMAGE_COUNT-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-next[for="cl-gallery-el-slide1-elementk9sfk_11"] {
    visibility: visible;
    z-index: 10;
}
#cl-gallery-el-slideCL_IMAGE_COUNT-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-next-thumbnails[for="cl-gallery-el-thumbnailRow0-elementk9sfk_11"] {
    visibility: visible;
    z-index: 10;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav .cl-gallery-el-nav-arrow-wrapper-prev[for="cl-gallery-el-slideCL_IMAGE_COUNT-elementk9sfk_11"] {
    visibility: visible;
    z-index: 10;
}
#cl-gallery-el-slide1-elementk9sfk_11:checked ~ .cl-gallery-el-slider-arrow-nav-thumbnails .cl-gallery-el-nav-arrow-wrapper-prev-thumbnails[for="cl-gallery-el-thumbnailRow0-elementk9sfk_11"] {
}
