* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #010F1C;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    color: #55585B;
    margin-bottom: 15px;
    line-height: 24px;
}

a {
    text-decoration: none;
    color: #55585B;
    transition: all .3s ease-in-out;
}

img{
    max-width: 100%;
}

/* header.css */

.imperial-header-top {
    border-bottom: 1px solid #E5E5E5;
    padding-bottom: 6px;
    padding-top: 3px;
}

.imperial-header-info p {
    margin-bottom: 0;
    font-weight: 500;
}

.imperial-header-info p span {
    margin-inline-end: 4px;
}

.imperial-header-info p span svg {
    width: 16px;
    transform: translateY(5px);
}

.imperial-header-main {
    padding: 20px 0;
}

.imperial-header-menu a {
    margin-right: 20px;
    color: #55585B;
    font-weight: 500;
}

.imperial-header-menu a:last-child {
    margin-right: 0;
}

.imperial-header-menu a:hover {
    color: #D9A11A;
}


.tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
    position: relative;
}

@media (max-width: 575px) {
    .tp-feature-border-2 .row [class*=col-] .tp-feature-item-2 {
        padding-bottom: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .tp-feature-inner-2 {
        padding: 22px 20px 19px;
    }
}

.tp-feature-inner-2 {
    background: var(--tp-common-white);
    border: 1px solid #E9EAEC;
    padding: 30px 40px 23px;
}

.tp-feature-title-2 {
    font-weight: 600;
    font-size: 14px;
    color: #010F1C;
    margin-bottom: 2px;
    line-height: 1;
}

.tp-feature-icon-2 span {
    font-size: 35px;
    color: #010F1C;
}

.tp-feature-content-2 p {
    font-size: 14px;
    margin-bottom: 0;
    line-height: 1.3;
}

.mr-10 {
    margin-right: 10px;
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
    .tp-feature-item-2 {
        margin-bottom: 30px;
    }

    .tp-feature-inner-2 .row [class*=col-]:nth-child(3) .tp-feature-item-2,
    .tp-feature-inner-2 .row [class*=col-]:nth-child(4) .tp-feature-item-2 {
        margin-bottom: 0;
    }
}

.imperial-product-slider-thumb {
    margin-top: 5px;
}

.imperial-product-slider-thumb-item {
    margin-right: 10px;
}

.imperial-product-area {
    padding-top: 40px;
}

.imperial-product-content {
    padding-left: 40px;
}

@media only screen and (min-width: 0px) and (max-width: 768px) {
    .imperial-product-content {
        padding-left: 0;
        margin-top: 40px;
    }
}

.imperial-product-title {
    font-size: 28px;
    font-weight: 600;
    color: #010F1C;
    margin-bottom: 40px;
}

.imperial-callout {
    background: #F0F0F0;
    padding: 20px 40px;
    border-radius: 5px;
    color: #010F1C;
    font-weight: 500;
}

.imperial-trusted-seller {
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 30px;
}

.imperial-trusted-seller p {
    margin-bottom: 15px;
}

.imperial-trusted-seller p span {
    color: #010F1C;
    margin-left: 8px;
    font-weight: 600;
}

.imperial-trusted-seller p svg {
    color: #FFC40D;
}

.imperial-trusted-seller .view-feedback {
    font-size: 12px;
    text-decoration: underline;
}

.imperial-trusted-seller .view-feedback:hover {
    color: #D9A11A;
}

.imperial-btn {
    background: #D9A11A;
    color: #fff;
    padding: 10px 20px;
    font-weight: 500;
    display: inline-block;
}

.imperial-btn:hover {
    background: #010F1C;
    color: #fff;
}

.imperial-btn-gray {
    background: #F6F6F6;
    color: #010F1C;
}

.mb-15 {
    margin-bottom: 15px;
}

.mr-20 {
    margin-right: 20px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mb-40{
    margin-bottom: 40px;

}

.imperial-product-content-btn-wrapper p{
    font-size: 20px;
    font-weight: 600;
    color: #010F1C;
}

.imperial-product-desc-title{
    font-size: 16px;
    font-weight: 600;
    color: #010F1C;
    padding: 15px 30px;
    padding-left: 24px;
    background-color: rgb(217, 161, 26, .2);
    border-left: 4px solid #D9A11A;
}

.imperial-product-desc-content{
    padding: 20px 30px;
}
.imperial-product-desc-box p{
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}

.text-center{
    text-align: center;
}

.imperial-product-desc-category-item{
    margin-bottom: 15px;
}
.imperial-product-desc-category-thumb{
    margin-bottom: 10px;
}

.imperial-product-desc-category-title{
    font-size: 14px;
    color: #010F1C;
}

.imperial-product-desc-category-title a:hover{
   color: #D9A11A;
}

.imperial-product-desc-category-heading{
    font-size: 24px;
    margin-bottom: 20px;
}

.imperial-product-feedback-content{
    border: 1px solid #E5E5E5;
    padding: 10px 30px;
}
.imperial-product-feeback-item h4{
    margin-bottom: 0;
}
.imperial-product-feeback-item p{
    font-size: 15px;
    font-weight: 500;
}

.imperial-product-feeback-item{
    margin-bottom: 25px;
}

.pb-40 {
    padding-bottom: 40px;
}

.imperial-footer-top-box{
    border-bottom: 1px solid #E5E5E5;
}

.imperial-footer-bottom{
    padding: 20px 0;
}

.imperial-footer-payment{
    text-align: end;
}



@media only screen and (min-width: 0px) and (max-width: 767px) {
    .imperial-footer-security{
        text-align: end;
    }

    .imperial-footer-payment{
        text-align: center;
        margin-top: 20px;
    }
}



@media only screen and (min-width: 0px) and (max-width: 575px) {
    .imperial-header-menu-wrapper{
        margin-top: 15px;
    }
}